@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

#container {
	width: 750px;
	margin: auto;
	margin-top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 150%;
    font-size: 100%;
    min-width: 280px;
}

#banner {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	/*background: url(images/umdlogo.png);*/
    background-repeat: no-repeat;
    background-position: center right;
    -ms-background-size: none;
    -o-background-size: none;
    -moz-background-size: none;
    -webkit-background-size: none;
    background-size: none;
}

#outer {
	border-left: 1px solid white; /* left panel width & bgcolor*/
	border-right: 1px solid white; /* right panel width & bgcolor*/
}

#inner { /* ie-only */
	margin: 0px;
	width: 100%;
}

#left {
	width: 200px;
	float: left;
	margin-left: -200px;
}

#right {
	width: 200px;
	float: right;
	margin-right: -200px;
}

#content {
	position: relative;
	margin: 0px;
}

#footer {
	clear: both;
	border-top: 1px solid black;
	margin-top: 20px;
	text-align: right;
	font-size: small;
	padding-top: 5px;
}


a img {
	border: 0px;
}

#name {
    line-height: 120%;
}

.section {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
}

.section h1 {
	font-size: 150%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.section h2 {
	font-size: 120%;
	padding-left: 10px;
	padding-bottom: 5px;
}

#topsec {
    width: 100%;
    overflow: hidden;
}

#pic {
    background: url('images/dwh.jpg') no-repeat left center / contain;
    width: 170px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

#contact {
    float: right;
}

.section .par, .section ul, .section ol {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.section ul li, .section ol li {
	margin-bottom: 10px;
}

#email {
	position: relative;
	top: 4pt;
}

#footer #lastupdated {
	float: left;
}

@media only screen and (max-width: 799px) {
    #container {
        width: 93.75%;
        font-size: 100%;
    }
}

@media only screen and (max-width: 680px) {
    #banner {
        -ms-background-size: contain;
        -o-background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        background-size: contain;
    }
}

@media only screen and (max-width: 550px) {
    #banner {
        -ms-background-size: 100px;
        -o-background-size: 100px;
        -moz-background-size: 100px;
        -webkit-background-size: 100px;
        background-size: 50px;
        background-position: 0 15px;
    }
    #name {
        padding-left: 55px;
    }
    #contact {
        float: left;
    }
}

@media only screen and (max-width: 340px) {
    #banner {
        background: none;
    }
    #name {
        padding-left: 0;
    }
}
